artwork-list.txt
artworks.html
.cache/
clip/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
cmake_install.cmake
compile_commands.json
DCLP
expansionicon.png
glfw/
imgui/
imgui.ini
lib/
log/
Makefile
other-save.dclp
out.jpg
run.sh
save.dclp
tempicon.png
.gitignore
saves
master.mdclp
e.dclp
freetype/
freetype-bin/
./libimgui.a
cards/
cards/*
expansions/*
